* {
  font-family: sans-serif;
}

.footer {
  border-top: #5c47d2 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e6e3;
  height: 5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  text-decoration: none;
}

.footer a:visited {
  text-decoration: none;
  color: black;
}
