* {
  font-family: sans-serif;
}

.header {
  display: flex;
  align-items: center;
  height: 6.5rem;
  display: flex;
  background-color: #e5e6e3;
  border-bottom: 2px #5c47d2 solid;
}

.header h1 > i {
  margin-left: 40px;
  color: #5c47d2;
  font-size: 2rem;
}

.title {
  font-weight: 300;
  margin-left: 40px;
  color: black;
}

@media (max-width: 800px) {
  .header {
    justify-content: center;
  }

  .title {
    margin-right: 40px;
  }
}
